body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(at top, var($PrimaryBg), var($SecondaryBg));
  min-height: 135vh;
  text-transform: uppercase;
  color: var($LightText);
}

.preload * {
  transition: none;
}
