$LightText: #ffffff;
$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$Outline: hsl(217, 16%, 45%);
$PrimaryBg: hsl(214, 47%, 23%);
$SecondaryBg: hsl(237, 49%, 15%);
$Scissors1: hsl(39, 89%, 49%);
$Scissors2: hsl(40, 84%, 53%);
$Paper1: hsl(230, 89%, 62%);
$paper2: hsl(230, 89%, 65%);
$rock1: hsl(349, 71%, 52%);
$rock2: hsl(349, 70%, 56%);
$ShadowLight: #00000026;
$shadowMed: #0000004d;
